@layer reset, global, main, components, states;

@import url("../styles/reset.css") layer(reset);
@import url("../styles/global.css") layer(global);
@import url("../styles/components.css") layer(components);
@import url("../styles/states.css") layer(states);

html {
  font-family: monospace;
}
body {
  display: grid;
  background-color: var(--bg-col);
}
main {
  display: grid;
  grid: auto 1fr / [page-start] 1fr [content] minmax(0, var(--content)) 1fr [page-end];
  & > * {
    grid-column: content;
  }
  & .full {
    grid-column: page;
  }
}
